h3{
    color: crimson;
}
li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgoldenrod;
}
body{
    background-color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}